# Restricted CSV: username,password
# No commas or newlines inside fields. Usernames: A-Z a-z 0-9 . _ -
# Password punctuation such as # / " [ ] _ @ is allowed.
alice,change-this-alice-password
bob,change-this-bob-password
carol,change-this-carol-password
